/* Breakpoints */
$mqDesktop: 1440px;

:root {
    /* Fonts */
    --fontPrimary: 'Poppins', sans-serif;
    --fontSecondary: 'PT Serif', serif;
    --fontTertiary: 'Montserrat', sans-serif;
    /* Colors */
    --white: hsla(0, 0%, 100%, 1);
    --black: hsla(0, 0%, 0%, 1);
    --gray1: hsla(0, 0%, 98%, 1);
    --gray2: hsla(0, 0%, 66%, 1);
    /* Gaps */
    --maxWidthContainer: 890px;
    --gapItemsMobile: 28px;
    --gapItemsDestkop: 66;

    /* Animations */
    --animationCard: .6s ease-in-out;
}

* { box-sizing: border-box; }
.hide-a11y {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    clip: rect(0, 0, 0, 0);
}

body {
    margin: 0;
    padding: calc-em(71px) calc-em(12px) calc-em(24px);
    color: var(--black);
    background-color: var(--gray1);

    @media (min-width: $mqDesktop){
        text-align: center;
    }
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: calc(100vh - #{calc-em(24px)} - #{calc-em(24px)});
    max-width: calc-em(890px);
    text-align: left;
}

.header {
    margin-left: calc-em(-2px);

    @media (min-width: $mqDesktop){
        display: flex;

        > * {
            flex-basis: 50%;
        }

        &-content {
            padding-left: calc-em(50px);
        }
    }
}

    .page-title {
        margin: 0 0 calc-em(38px, 36px) 0;
        font-family: var(--fontSecondary);
        font-weight: bold;
        font-size: calc-em(36px);
        line-height: 1.3;
        letter-spacing: -0.045em;
    }

    .page-subtitle,
    .page-description {
        font-family: var(--fontPrimary);
    }
    .page-subtitle {
        margin: 0 0 calc-em(10px, 18px) 0;
        font-weight: 600;
        font-size: calc-em(18px);
        line-height: 1.5;
        text-transform: uppercase;
    }

    .page-description {
        font-size: calc-em(14px);
        line-height: 1.5;

        
        @media (min-width: $mqDesktop){
            font-size: calc-em(18px);
        }
    }

.main-content {
    flex: 1;
}   
    
    .image-container {
        margin-right: calc-em(18px);

        overflow: hidden;

        > img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .section {
        
        &-team {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: calc-em(44px) calc-em(7px) calc-em(134px);

            @media (min-width: $mqDesktop){
                margin: calc-em(96px) 0 0;
            }

            > .card-member {
                width: calc(50% - (var(--gapItemsMobile) / 2));

                &:nth-of-type(odd) {
                    margin-bottom: calc-em(50px);

                    @media (min-width: $mqDesktop){
                        margin-bottom: 0;
                    }
                }

                &:nth-of-type(even) {
                    margin-top: calc-em(50px);

                    @media (min-width: $mqDesktop){
                        margin-top: 0;
                    }
                }

                @media (min-width: $mqDesktop){
                    width: calc(33.3333% - 3.707%);

                    &:nth-of-type(2n+1){
                        margin-bottom: calc-em(132px);
                    }

                    &:nth-of-type(3n+2){
                        margin-top: calc-em(132px);
                    }
                }



            }

            &:hover {
                img {
                    filter: grayscale(100%);
                    transition: all + var(--animationCard);
                }
                
                .card-member {
                    &:hover, &:focus, &:active {
                        
                        img {

                            filter: grayscale(0%);
                            transition: var(--animationCard);
                            
                            @media (prefers-reduced-motion: reduce) {
                                filter: grayscale(100%);
                            }
                        }
                    }

                }
            }

        }
        

    }

    .card {

        &-member {
            position: relative;

            &:nth{
                margin-top: calc-em(50px);
            }
        }

        a {
            color: var(--black);
            text-decoration: none;

            img {
                transition: var(--animationCard);
            }

            &:hover, &:focus, &:active {
                img {
                    transform: scale(1.2);
                    transition: var(--animationCard);

                    @media (prefers-reduced-motion: reduce) {
                        transform: scale(1);
                    }
                }
            }
        }


        &-name {
            margin: calc-em(10px, 14px) 0 0 0; 
            font-family: var(--fontPrimary);
            font-weight: 600;
            font-size: calc-em(14px);
            color: currentColor;
            line-height: 1.5;
        }

        &-position {
            position: absolute;
            top: 0;
            left: 100%;
            transform-origin: 0 0;
            transform: rotate(90deg);
            margin: 0;
            padding: 0;
            width: 100%;
            
            // According to design, original font-size is 10px, but change value to 11px
            // and set letter-spacing: 0.05em; both to improve readabilty.
            font-size: calc-em(11px); 
            font-weight: normal;
            line-height: 1.3;
            letter-spacing: 0.05em;
            color: currentColor;
            text-transform: uppercase;
            text-rendering: optimizeLegibility;
        }

    }

    
.footer {
    font-family: var(--fontTertiary);
    font-weight: 500;
    font-size: calc-em(14px);
    line-height: 1.21;
    color: var(--gray2);
    text-align: center;

    p {
        margin: 0
    }

    a {
        border-bottom: solid 1px currentColor;
        font-weight: bold;
        color: currentColor;
        text-decoration: none;
        transition: border-bottom-color .2s ease-in;
        
        &:hover {
            border-bottom-color: var(--white);
            transition: border-bottom-color .2s ease-in;
        }
    }
}